<nav class="navbar">
    <a href="" class="sidebar-toggler" (click)="toggleSidebar($event)">
      <i class="feather icon-menu"></i>
    </a>
    <div class="navbar-content">
  
      <ul class="navbar-nav">
        
        <li class="nav-item nav-profile" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle id="profileDropdown">
            <img src="https://via.placeholder.com/\30x30" alt="profile" *ngIf="User.imagePath == null">
            <img [src]="" *ngIf="User.imagePath != null">
          </a>
          <div ngbDropdownMenu aria-labelledby="profileDropdown">
            <div class="dropdown-header d-flex flex-column align-items-center">
              <div class="figure mb-3">
                <!-- environment + loggedInUser.imagePath -->
                <img [src]="" class="img-rounded" height="80" width="80" alt="">
              </div>
              <div class="info text-center">
                <p class="name font-weight-bold mb-0">{{User.firstName}} {{User.lastName}}</p>
                <p class="email text-muted mb-3">{{User.email}}</p>
              </div>
            </div>
            <div class="dropdown-body">
              <ul class="profile-nav p-0 pt-3">
  
                <li class="nav-item">
                  <a href="" (click)="false" class="nav-link" routerLink="update-profile">
                    <i class="feather icon-edit"></i>
                    <span>Edit Profile</span>
                  </a>
                </li>
  
                <li class="nav-item">
                  <a href="" (click)="onLogout($event)" class="nav-link">
                    <i class="feather icon-log-out"></i>
                    <span>Log Out</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
  